.vscode/
__pycache__/
cachedmovies.csv
kk.py
apikeyfile.py
cachedmovies.pkl
ignore_folder/
dataset_creation/*.csv
dataset_creation/movie_ids_05_15_2023.json
chromedriver.exe
my_movie_selector/static/img.png
