<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Letterboxd Movie Selector</title>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header class="header">
        <div class="container">
            <h1>Letterboxd Movie Selector</h1>
        </div>
    </header>

    <main class="container">
        <!-- Single form for username and genre -->
        <form action="/get_random_movie" method="POST">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username"><br><br>
            <label for="genre">Genre:</label>
            <input type="text" id="genre" name="genre"><br><br>
            <button type="submit">Movie Time!</button>
        </form>
        
        <!-- Separate form for movie time scores -->
        <form action="/get_movies_with_score" method="POST">
            <button type="submit">Movie Time Scores!</button>
        </form>
        
        <!-- Other forms remain unchanged -->
        <form action="/download_top_lists">
            <button type="submit">Download Top Lists</button>
        </form>
        
        <form action="/delete_cached_movies">
            <button type="submit">Delete Cached Movies</button>
        </form>
        
        <!-- Display movie details if available -->
        {% if title %}
        <h2>{{ title }}</h2>
        <p>TMDB Link: <a href="{{ tmdblink }}">{{ tmdblink }}</a></p>
        <img src="{{ url_for('static', filename='img.png') }}" alt="Movie Poster">
        {% endif %}
    </main>
    
    <footer class="footer">
        <div class="container">
            <p>&copy; 2024 Letterboxd Movie Selector</p>
        </div>
    </footer>
</body>
</html>
