<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Letterboxd Movie Selector</title>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header class="header">
        <div class="container">
            <h1>Letterboxd Movie Selector</h1>
        </div>
    </header>

    <main class="container">
        <!-- Movie Selection Form -->
        <section class="movie-selection">
            <form action="/get_random_movie" method="POST" class="movie-form">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>
                <label for="genre">Genre:</label>
                <input type="text" id="genre" name="genre" required>
                <div class="button-row">
                    <button type="submit">Movie Time!</button>
                    <button type="submit" formaction="/get_movies_with_score">Movie Time Scores!</button>
                </div>
            </form>
        </section>

        <!-- Additional Actions -->
        <section class="actions">
            <form action="/download_top_lists">
                <button type="submit">Download Top Lists</button>
            </form>
            
            <form action="/delete_cached_movies">
                <button type="submit">Delete Cached Movies</button>
            </form>
        </section>
        <!-- Display movie details if available -->
        {% if mmessage %}
        <section class="message-details">
            <h3>{{ mmessage }}</h3>
        </section>
        {% endif %}
        <!-- Display movie details if available -->
        {% if title %}
        <section class="movie-details">
            <h2>{{ title }}</h2>
            <!-- <p>TMDB Link: <a href="{{ tmdblink }}">{{ tmdblink }}</a></p> -->
            <img src="{{ url_for('static', filename='img.png') }}" alt="Movie Poster">
        </section>
        {% endif %}
    </main>
    
    <footer class="footer">
        <div class="container">
            <p>&copy; 2024 Letterboxd Movie Selector</p>
        </div>
    </footer>
</body>
</html>
